<ion-header>
  <ion-toolbar>
    <ion-title>
      Đăng bán
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
    <ion-label position="floating">Danh muc</ion-label>
    <ion-select style="text-align: center" [(ngModel)]="category" >
      <ion-select-option value="1">May tinh</ion-select-option>
      <ion-select-option value="2">Dien thoai</ion-select-option>
      <ion-select-option value="3">May tinh bang</ion-select-option>
    </ion-select>
  </ion-item>
    <ion-item>
      <ion-label position="floating">Tieu de</ion-label>
      <ion-input placeholder="name" name="title" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">File</ion-label>
      <ion-input type="file"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gia</ion-label>
      <ion-input placeholder="gia tien" name="price" [(ngModel)]="price" required></ion-input>
    </ion-item>
    <ion-button (click)="post()">post</ion-button>
    <ion-button (click)="getPicture()">picture</ion-button>
    <div>
      <img src="{{photo}}" style="max-width: 30%">
    </div>
  </form>
</ion-content>

