<ion-header>
    <ion-toolbar>
        <ion-progress-bar *ngIf="isShowLoadingBar" type="indeterminate"></ion-progress-bar>
        <ion-title>
            Đăng bán
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
<!--    <ion-button (click)="getPicture()">Thêm ảnh</ion-button>-->
    <div>
        <img (click)="getPicture()" src="{{photo}}" style="max-width: 30%;margin-top: 10px;margin-left: 10px">
    </div>
    <ion-item>
        <ion-label position="floating">Loại sản phẩm</ion-label>
        <ion-select [(ngModel)]="category" placeholder="Máy tính">
            <ion-select-option value="1">Máy tính</ion-select-option>
            <ion-select-option value="2">Điện thoại</ion-select-option>
            <ion-select-option value="3">Máy tính bảng</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Tiêu đề</ion-label>
        <ion-input required placeholder="tên sản phẩm" name="title" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Giá đề nghị</ion-label>
        <ion-input placeholder="giá tiền (VNĐ)" type="number" name="price" [(ngModel)]="price" required></ion-input>
    </ion-item>


</ion-content>
<ion-footer style="text-align: center;background-color: white">
    <ion-button expand="block" (click)="post()">Đăng bán</ion-button>
</ion-footer>
