.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
ion-button{
  border-radius: 80%;
  background-color: rgba(255,132,83,0.14);
}
#row1{
  height: 20%;
}

ion-col{
text-align: center;
  margin-top: -1rem;
}
ion-label{
  margin-top: -1rem;
  font-size: small;
}
#img1{
  max-height: 100%;
  max-width: 100%;
}
#col0{
  margin-bottom: -0.75rem;
}
#col1{

}
#col2{

}
#col3{

}

