<ion-header>
  <ion-toolbar>
        <ion-row>
            <ion-col><div><img id="img1" src="../../assets/icon2.png"></div></ion-col>
            <ion-col></ion-col>
        </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-row>
     <ion-searchbar placeholder="Search item"></ion-searchbar>
   </ion-row>
  <ion-row id="row1" >
    <ion-col id="col1">
        <ion-button shape="round" fill="clear" size="large">
            <ion-icon name="laptop"></ion-icon>
        </ion-button><br>
        <ion-label>may tinh</ion-label>
    </ion-col>
    <ion-col id="col2">
        <ion-button shape="round" fill="clear" size="large" ><ion-icon name="phone-portrait"></ion-icon></ion-button><br>
        <ion-label>dien thoai</ion-label>
    </ion-col>
    <ion-col id="col3">
        <ion-button shape="round" fill="clear" size="large" ><ion-icon name="tablet-portrait"></ion-icon></ion-button><br>
        <ion-label>May tinh bang</ion-label>
    </ion-col>
  </ion-row>
</ion-content>
