<ion-header>
    <ion-toolbar>
        <ion-row margin-top="1rem">
            <ion-col id="col0">
                <div><img id="img1" src="../../assets/icon2.png"></div>
            </ion-col>
            <ion-col>trang chu</ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-searchbar placeholder="Search item"></ion-searchbar>
    </ion-row>
    <ion-row id="row1">
        <ion-col id="col1">
            <ion-button (click)="get()" shape="round" fill="clear" size="large">
                <ion-icon name="laptop"></ion-icon>
            </ion-button>
            <br>
            <ion-label>may tinh</ion-label>
        </ion-col>
        <ion-col id="col2">
            <ion-button shape="round" fill="clear" size="large">
                <ion-icon name="phone-portrait"></ion-icon>
            </ion-button>
            <br>
            <ion-label>dien thoai</ion-label>
        </ion-col>
        <ion-col id="col3">
            <ion-button shape="round" fill="clear" size="large">
                <ion-icon name="tablet-portrait"></ion-icon>
            </ion-button>
            <br>
            <ion-label>may tinh bang</ion-label>
        </ion-col>
    </ion-row>
<!--    <ion-row *ngFor="let phone of name" >-->
<!--        <ion-col>-->
<!--            <img style="max-width: 30%" src="../../assets/default.jpg">-->
<!--        </ion-col>-->
<!--        <ion-col>-->
<!--            <ion-list>{{phone.name}}</ion-list>-->
<!--            <ion-list>{{phone.price}}</ion-list>-->
<!--        </ion-col>-->
<!--    </ion-row>-->

    <ion-list inset="true">
        <ion-list-header>
            Recent Conversations
        </ion-list-header>
        <ion-item  *ngFor="let phone of name">
            <ion-avatar  slot="start" >
                <img style="max-width: 30%" src="{{phone.images._url}}">
            </ion-avatar>
            <ion-label style="margin-top: auto">
                <h2>{{phone.name}}</h2>
                <p>{{phone.price}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
