<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="!isUserLogin">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [value]="username" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" [value]="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <div>
      <ion-button (click)="signUp()">
        SIGN UP
      </ion-button>
      <button ion-button color="secondary" (click)="signIn()">
        SIGN IN
      </button>
    </div>
    <div>
      <ion-button (click)="facebookLogin()">
        LOG IN WITH FACEBOOK
      </ion-button>
    </div>
  </ion-list>

  <ion-button *ngIf="isUserLogin" (click)="fbLogout()">logout</ion-button>
</ion-content>

