<ion-header>
  <ion-toolbar>
      <ion-progress-bar *ngIf="isShowLoadingBar" type="indeterminate"></ion-progress-bar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Máy tính</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset="true">
    <!--        <ion-list-header>-->
    <!--        </ion-list-header>-->

    <ion-item (click)="navigateProductDetail()" *ngFor="let listP of listProductShow">
      <ion-thumbnail  slot="start">
        <img style="background: transparent url('../../assets/small-loading.gif')" src="{{listP.images._url}}">
      </ion-thumbnail>
      <ion-label style="margin-top: auto">
        <h2>{{listP.title}}</h2>
        <p>{{listP.price.toLocaleString()}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
<!--<ion-footer>-->
<!--  <ion-progress-bar *ngIf="isShowLoadingBar" type="indeterminate"></ion-progress-bar>-->
<!--</ion-footer>-->
